/* Defaults */
html {
    font-size: 100%;
    font-family: Arial;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

a:hover, a:link, a:before, a:after {
    text-decoration: none;
    color: #3A3A3A;
}

a {
    display: inline-block;
}

button {
    outline: none;
}

/* Classes */
.container {
    width: 100%;
    height: 5.65%;
    border-bottom: 0.5px solid black;
    background: #EEEEEE;
}

.panel {
    float: left;
    width: calc(50% - 10px);
    height: 100%;
    resize: none;
    border: none;
}

.nav-link {
    height: 100%;
    background-color: rgba(184, 180, 180, 0.85);
    border: .25px solid rgba(107, 105, 105, 0.94);
    padding: 7.65px 10px 10px 10px;
}

    .nav-link:hover {
        background: rgba(191, 230, 238, 0.52);
    }

.active {
    background: rgba(191, 230, 238, 0.52);
}

.clear {
    clear: both;
}

/* Ids */
#top-nav {
    padding: 2px;
    font-size: .85em;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, .8);
}

    #top-nav > * {
        float: left;
    }

    #top-nav > * > * {
        margin-top: 7px;
    }

#nav-icon {
    width: 2.15%;
    height: 82.5%;
    margin-top: 0.25%;
    margin-right: 10px;
}

#webpage-title {
    margin-top: 3px;
    margin-right: 30%;
}

#html-link {
    border-radius: 15% 0 0 15%;
}

#output-link {
    border-radius: 0 15% 15% 0;
}

#body-container {
    width: 100%;
    height: calc(100% - 50px);
    padding: 10px;
}

    #body-container > * {
        border-left: 1px solid rgba(184, 180, 180, 0.85);
    }

#html-panel {
    border: none;
}

#css-panel {
    display: none;
}

#javascript-panel {
    display: none;
}